.popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s;
    justify-content: center;
    align-items: center;
}

.popup_opened {
    visibility: visible;
    opacity: 1;
}  

.popup__container {
    position: relative;
    width: 430px;
    background-color: #ffffff;
    border-radius: 16px;
    box-sizing: border-box;
    padding: 34px 36px 28px 36px;
}

.popup__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #1A1B22;
    margin: 0;
    margin-bottom: 22px;
}

.popup__close-icon {
    position: absolute;
    background-image: url(../../images/close.svg);
    background-size: cover;
    background-color: transparent;
    background-position: center center;
    border: none;
    width: 41px;
    height: 41px;
    top: -40px;
    right: -40px;
    cursor: pointer;
    transition: opacity 0.3s;
}

.popup__close-icon:focus {
    outline: none;
}

.popup__close-icon:hover {
    opacity: 0.6;
}

.popup__save-button {
    width: 100%;
    height: 64px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 16px;
    border: none;
    background: #2F71E5;;
    border-radius: 100px;
    cursor: pointer;
    transition: background 0.3s;
}

.popup__save-button:hover {
    background-color: #347EFF;
}

.popup__save-button:focus {
    outline: none;
}

.popup__save-button:active {
    outline: none;
    background-color: #2A65CC;
    transition: background-color 0.3s linear;
}

.popup__save-button:disabled {
    color: #B6BCBF;
    background: #E6E8EB;
}

.popup__input-label {
    position: relative;
}

.popup__form-input {
    color: #000000;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #E6E8EB;
    margin-bottom: 31px;
    height: 14px;
    padding: 10px 0;
}

.popup__form-input::placeholder {
    color: #a8a8a8;
    text-indent: 0px;
    transition: text-indent 0.3s ease;
}

.popup__form-input:focus::placeholder {
    text-indent: 500px; 
    transition: text-indent 0.3s ease;
}

.popup__form-input:focus {
    transition: border-bottom .5s ease;
    outline: none;
    border-bottom: 1px solid #000000;
}

.popup__input-error {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: block;
    color: #ff0000;
    margin: 0;
    position: absolute;
    bottom: 13px;
    left: 0;
}

.popup__input-container {
    display: flex;
    flex-direction: column;
}

.popup__label-text {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #2F71E5;
    margin: 0;
}

.popup__link {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 0;
    border: none;
}

.popup__link:focus {
    outline: none;
}

.popup__another-popup {
    color: #2F71E5;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.popup__another-popup:hover {
    opacity: .7;
}

@media (max-width: 550px) {
    .popup__container {
        padding: 16px 16px 16px 16px;
    }

    .popup__close-icon {
        width: 30px;
        height: 30px;
        top: -45px;
        right: 0;
    }
}

@media (max-width: 400px) {
    .popup__container {
        margin-top: 125px;
        height: 100%;
        align-items: flex-end;
    }
}