.saved-news-info {
    box-sizing: border-box;
    height: auto;
    /* min-height: calc(100vh - 80px); */
    padding: 40px 0 56px 104px;
}

.saved-news-info__title {
    margin: 0;
    color: rgba(26, 27, 34, 0.5);
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 28px;
}

.saved-news-info__quantity {
    margin: 0;
    color: #1A1B22;
    width: 530px;
    font-family: 'RobotoSlab', Arial, sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 30px;
}

.saved-news-info__description {
    margin: 0;
    color: #1A1B22;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.saved-news-info__bold {
    font-weight: 700;
}

/* media */
/* media */
/* media */

@media (max-width: 900px) {
    .saved-news-info {
        padding: 24px 40px 32px;
    }

    .search-results__header {
        margin-bottom: 16px;
    }

    .saved-news-info__title {
        margin-bottom: 16px;
    }
}

@media (max-width: 690px) {
    .saved-news-info {
        padding: 8px 16px 32px;
    }

    .saved-news-info__quantity {
        width: auto;
    }
}