.saved-news-info {
    box-sizing: border-box;
    /* min-height: calc(100vh - 80px); */
    height: 294px;
    padding: 40px 0 0 104px;
}

.saved-news-info__title {
    margin: 0;
    color: rgba(26, 27, 34, 0.5);
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 28px;
}

.saved-news-info__quantity {
    margin: 0;
    color: #1A1B22;
    width: 530px;
    font-family: 'RobotoSlab', Arial, sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 30px;
}

.saved-news-info__description {
    margin: 0;
    color: #1A1B22;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}