.search-in-process {
    display: none;
    min-height: 282px;
    background-color: #F5F6F7;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    box-sizing: border-box;
}

.search-in-process__preloader {
    display: block;
    width: 75px;
    height: 75px;
    border: 1px solid #000000;
    border-bottom-color: #888;
    border-radius: 50%;
    margin-bottom: 24px;
    animation: spin .8s infinite linear;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.search-in-process__label {
    margin: 0;
    color: #B6BCBF;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}