.header {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px 105px 15px 105px;
    border-bottom: 1px solid rgba(196, 196, 196, 0.2);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: #FFFFFF;
}

.header__logo {
    margin: 0;
    padding: 0;
}

.header__nav-bar {
    display: flex;
}


.header__link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    text-decoration: none;
    color: inherit;
    margin-right: 32px;
}

.header__link::after {
    content: '';
    bottom: -16px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #FFFFFF;
}

.header__logged-in-button {
    color: #FFFFFF;
    background-image: none; 
    background: transparent;
    width: 176px;
    height: 48px;
    border: 2px solid #FFFFFF;
    border-radius: 100px;
}

.header__logged-in-button:focus {
    outline: none;
}

.header__logged-in-button:active {
    border: 2px solid #000000;
    border-radius: 100px;
}