.header {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px 105px 15px 105px;
    border-bottom: 1px solid rgba(196, 196, 196, 0.2);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: #FFFFFF;
}

.header__menu {
    display: none;
}

.header__logo {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    transition: opacity 0.3s ease;
}

.header__logo:hover {
    opacity: .7;
}

.header__logo:focus {
    outline: none;
}

.header__title {
    font-family: 'RobotoSlab', Arial, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    padding: 0;
}

.header__nav-bar {
    display: flex;
    align-items: center;
}

.header__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
    margin-right: 32px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    transition: opacity 0.3s ease;
}

.header__link:hover {
    opacity: .7;
}

.header__underline {
    position: absolute;
    bottom: -28px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #FFFFFF;
}

.header__logged-in-button {
    color: #FFFFFF;
    background-image: none;
    background: transparent;
    cursor: pointer;
    height: 48px;
    width: auto;
    padding: 8px 12px;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    transition: 0.3s ease;
}

.header__logged-in-button:hover {
    opacity: .7;
}

.header__logged-in-button:focus {
    outline: none;
}

.header__logged-in-button:active {
    opacity: 1;
    border: 1px solid #ffbcbc;
    border-radius: 100px;
}

/* Белый */
/* Белый */
/* Белый */

.header-white {
    color: #1A1B22;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px 105px 15px 105px;
    border-bottom: 1px solid rgba(196, 196, 196, 0.7);
    width: 100%;
}

.header-white__underline {
    position: absolute;
    bottom: -28px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #1A1B22;
}

.header__logged-out-button {
    display: flex;
    align-items: center;
    color: inherit;
    background-image: none;
    background: transparent;
    cursor: pointer;
    width: auto;
    padding: 8px 12px;
    height: 48px;
    border: 1px solid #1A1B22;
    border-radius: 100px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    transition: 0.3s ease;
}

.header__logged-out-button:hover {
    opacity: .7;
}

.header__logged-out-button:focus {
    outline: none;
}

.header__logged-out-button:active {
    opacity: 1;
    border: 1px solid #ffa6a6;
    border-radius: 100px;
}

.header__logged-out-image {
    margin-left: 5px;
}

/* media */
/* media */
/* media */

@media (max-width: 1280px) {
    .header {
        padding: 20px 60px 15px 60px;
    }
}

@media (max-width: 900px) {
    .header {
        padding: 20px 40px 15px 40px;
        height: 66px;
        font-size: 16px;
    }
    .header-white {
        padding: 20px 40px 15px 40px;
        height: 66px;
    }
    .header__link {
        margin-right: 16px;
        font-size: 16px;
    }
    .header__logged-in-button {
        font-size: 16px;
        height: 40px;
    }
    .header__underline {
        bottom: -19px;
    }
    .header-white__underline {
        bottom: -19px;
    }
    .header__logged-out-button {
        height: 40px;
    }
}

@media (max-width: 768px) {
    .header__logo:hover {
        opacity: 1;
    }

    .header__link:hover {
        opacity: 1;
    }

    .header__logged-in-button:hover {
        opacity: 1;
    }

    .header__logged-in-button:active {
        opacity: 1;
        border: 1px solid #FFFFFF;
    }

    .header__logged-out-button:hover {
        opacity: 1;
    }

    .header__logged-out-button:active {
        opacity: 1;
        border: 1px solid  #1A1B22;
    }
}

@media (max-width: 690px) {
    .header {
        padding: 16px;
    }

    .header-white {
        padding: 16px;
    }

    .header__menu {
        display: block;
    }

    .header__link {
        display: none;
    }

    .header__logged-in-button {
        display: none;
    }

    .header__logged-out-button {
        display: none;
    }
}