.search-without-results {
    height: 374px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F6F7;
}

.search-without-results__image {
    margin-bottom: 24px;
}

.search-without-results__title {
    margin: 0;
    margin-bottom: 16px;
    color: #1A1B22;
    font-family: 'RobotoSlab', Arial, sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
}

.search-without-results__label {
    margin: 0;
    width: 356px;
    text-align: center;
    color: #B6BCBF;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}